* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: darkblue;
  height: 50px;
}

main {
  background-color: lightblue;
  height: 400px;
}

section{
  height: 400px;
  display: flex; 
}

.left{
  background-color: grey;
  width: 50%;
}
.right{
  background-color: red;
  width: 50%;
}

footer {
  background-color: black;
  height: 100px;
}

